http://:80 {
	root * /Users/andy_crab/.openclaw/workspace/static-site
	file_server browse
	encode gzip
}

https://:443 {
	tls internal
	root * /Users/andy_crab/.openclaw/workspace/static-site
	file_server browse
	encode gzip
}
